*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(247, 240, 240);
}
h1{
    text-align: center;
    padding: 30px;
    color: rgb(179, 171, 171);
}
.zoom-area{
    margin: 0 20%;
    color: rgb(175, 164, 164);
}
.error-container{
    Text-Align: Center;
    Font-Size: 180px;
    Font-Family: 'Catamaran', Sans-Serif;
    Font-Weight: 800;
    Margin: 20px 15px;
}

.error-container > Span {
   Display: Inline-Block;
   Line-Height: 0.7;
   Position: Relative;
   Color: #FFB485;
}

.error-container > Span > Span {
   Display: Inline-Block;
   Position: Relative;
}
.error-container > Span:nth-Of-Type(1) {
   Perspective: 1000px;
   Perspective-Origin: 500% 50%;
   Color: #F0E395;
}
.error-container > Span:nth-Of-Type(1) > Span {
   Transform-Origin: 50% 100% 0px;
   Transform: RotateX(0);
   Animation: Easyoutelastic 8s Infinite;
}

.error-container > Span:nth-Of-Type(3) {
Perspective: None;
Perspective-Origin: 50% 50%;
Color: #D15C95;
}

.error-container > Span:nth-Of-Type(3) > Span {
   Transform-Origin: 100% 100% 0px;
   Transform: Rotate(0deg);
   Animation: Rotatedrop 8s Infinite;
}


@Keyframes Easyoutelastic {
0% {
Transform: RotateX(0);
}
9% {
Transform: RotateX(210deg);
}
13% {
Transform: RotateX(150deg);
}
16% {
Transform: RotateX(200deg);
}
18% {
Transform: RotateX(170deg);
}
20% {
Transform: RotateX(180deg);
}
60% {
Transform: RotateX(180deg);
}
80% {
Transform: RotateX(0);
}
100% {
Transform: RotateX(0);
}
}
@Keyframes Rotatedrop {
0% {
Transform: Rotate(0);
}
10% {
Transform: Rotate(30deg);
}
15% {
Transform: Rotate(90deg);
}
70% {
Transform: Rotate(90deg);
}
80% {
Transform: Rotate(0);
}
100% {
Transform: RotateX(0);
}
}

.link-container{
    text-align: center;
}

a.more-link {
Text-Transform: Uppercase;
Font-Size: 12px;
Background-Color: #Bbb;
Padding: 10px 15px;
Border-Radius: 0;
Color: #Fff;
Display: Inline-Block;
Margin-Right: 5px;
Margin-Bottom: 5px;
Line-Height: 1.5;
Text-Decoration: None;
Margin-Top: 50px;
Letter-Spacing: 1px;
}
